

body{
    margin: 0px;
    margin-top: 0px;
    overflow-x: hidden;
}
.barra{
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: #D82222;
    width: 100%;
    height: 50px;
}
#icone-menu{
    position: absolute;
    left: 1%;

}
.title{
    left: 50%;
    text-align: center;
    text-shadow: #444;

    font-family: 'Merriweather Sans';
    font-style: normal;
    font-size: 150%;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;

color: #FFFFFF;
    
}

#lista-menu {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  width: 200px;
  display: none;
}

#lista-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#lista-menu li {
  position: relative;
}

#lista-menu li a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 10px;
}

#lista-menu li a:hover {
  background-color: #e0e0e0;
}

#lista-menu li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}

#lista-menu li:hover ul {
  display: block;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #D82222;
  text-align: center;
  font-size: 9px;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
.Lula{
  position: absolute;
  width: 380px;
  height: 250px;
  left: 5%;
}
.titulol{
  position:absolute;
  top: 50%;

}
.conteudol{
 position: absolute;
 top: 60%;
}
:root{
  --tema: 202,0,0;
  --pure-material-primary-rgb: 202, 0, 0;
  --badge_jornal_1: #ff000;
  --coluna1: 1;
  --coluna2: 2;
  --coluna3: 3;
  --li1: 1;
  --li2: 2;
  --li3: 3;
  --li4: 4;
}
body{
  background-color:#aaaaaa;
  font-family: sans-serif;
  margin: auto;
}

a, a:visited, a:hover, a:active{
  text-decoration:none;
  color:inherit;
}

.cabecalho_pagina{
  box-sizing:border-box;
  height:160px;
  background-color:#333333;
  color:white;
  padding:32px;
  margin-bottom:16px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.cabecalho_pagina div{
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
}

.card{
  background-color:white;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  border-radius:4px;
  box-sizing:border-box;
  padding:16px
  
}

.manchetes_container{
  display:flex;
  flex-direction:column;
}

.manchete_card_1{
  position:relative;
  display:flex;
  flex-direction:column; 
  padding:0 16px;
  grid-column-end: span 2;
  grid-row-end: span 2;
  background-color:#eee;
  border-radius:4px;
  margin:4px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  border-radius:4px;
  box-sizing:border-box
}

.manchete_card_2{
  display:flex;
  flex-direction:column; 
  justify-content:center;
  padding:16px;
  grid-row-end: span 2;
  background-color:#ddd;
  border-radius:4px;
  margin:4px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  border-radius:4px;
  box-sizing:border-box
}

.manchete_card_3{
  overflow:hidden;
  display:flex;
  flex-direction:column; 
  justify-content:center;
  padding:16px;
  background-color:#ccc;
  border-radius:4px;
  margin:4px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  border-radius:4px;
  box-sizing:border-box
}

.manchete_card_4{
  overflow:hidden;
  display:flex;
  flex-direction:column; 
  justify-content:center;
  padding:16px;
  background-color:#bbb;
  border-radius:4px;
  margin:4px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  border-radius:4px;
  box-sizing:border-box
}

.manchete_card_1:hover,.manchete_card_2:hover,.manchete_card_3:hover,.manchete_card_4:hover {
  background-color:white;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.6);
}

.manchete_card_1 h1, .manchete_card_1 p{
  text-align:center;
}

.manchete_card_1 .badge_jornal{
  font-size:12px;
  position:absolute;
  color:white;
  background-color:#ff0000;
  padding:24px 16px 8px 16px;
  border-radius: 0 0 4px 4px;
  left: 50%;
  transform: translateX(-50%);
}

.manchete_card_1 hr{
  border:1px solid #ccc;
  width:60%;
}

.manchete_card_1 div{
  margin: auto;
}

.manchete_card_2 .badge_jornal{
  font-size:12px;
  color:white;
  background-color:#ff0000;
  padding:8px;
  border-radius: 4px;
  width:fit-content;
}

.manchete_card_3 .badge_jornal{
  font-size:12px;
  color:white;
  background-color:#ff0000;
  padding:8px;
  border-radius: 4px;
  width:fit-content;
}

.manchete_card_4 .badge_jornal{
  font-size:12px;
  color:#fff;
}

.manchete_card_4:hover .badge_jornal{
  font-size:12px;
  color:#f00;
}

.li1{
  order:var(--li1);
}
.li2{
  order:var(--li2);
}

.li3{
  order:var(--li3);
}

.li4{
  order:var(--li4);
}
.col1{
  order:var(--coluna1);
}
.col2{
  order:var(--coluna2);
}
.col3{
  order:var(--coluna3);
}

/*-----RESPONSIVIDADE-----*/
@media screen and (max-width: 832px) {
  .manchetes_coluna col1 {
    display: flex;
    flex-direction:row;
    max-height:200px;
  }
}



/*-------------------*/
.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 8px;
    grid-auto-rows: minmax(200px, auto);
    grid-auto-flow: dense;
    padding: 8px;
}

.grid-item {
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #929796;
    background-color: #333;
    border-radius: 5px;
    &:nth-child(odd) {
        background-color: #424242;
    }
}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 4;
}
message.txt
5 KB