@font-face {
  font-family:"Times New Roman";
  src: url(temas\fonts\times-new-roman-14.ttf);
}
*{
  max-width: 1440px;
  max-height: 500px;
  font-family: “Times New Roman”, “Georgia”, serif;
}

body{
    margin: 0px;
    margin-top: 0px;
}
.barra{
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: #D82222;
    width: 100%;
    height: 50px;
}
#icone-menu{
    position: absolute;
    left: 1%;

}
.title{
    left: 50%;
    margin-top:20px;
    text-align: center;
    text-shadow: #444;

    font-family: “Times New Roman”, “Georgia”, serif;
    font-style: normal;
    font-size: 150%;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

#lista-menu {
  position: absolute;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  width: 200px;
  display: none;
  z-index: 10;
}

#lista-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#lista-menu li {
  position: relative;
}

#lista-menu li a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 10px;
}

#lista-menu li a:hover {
  background-color: #e0e0e0;
}

#lista-menu li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}

#lista-segundaria{
  
    background-color: #f0f0f0;

}

#lista-menu li:hover ul {
  display: block;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #D82222;
  text-align: center;
  font-size: 9px;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
h1 {
  color: #cc0000;
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
h2 {
  color: #333333;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
}
p {
  color: #666666;
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 20px;
  margin-top: 0;
}
hr {
  border-top: 1px solid #cc0000;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container {
      z-index: 0;
      display:flex;
      flex-wrap:wrap; 
      justify-content:center; 
      align-items:center;
      margin:auto; 
      max-width:1200px; 
      padding-top:50px; 
      padding-bottom:50px
    }
    .news {
        display:flex; 
        flex-direction:column; 
        justify-content:center; 
        align-items:center; 
        margin:auto; 
        max-width:500px; 
        padding-left:50px; 
        padding-right:50px
    }
    .news img {
        width:100%; 
        height:auto
    }
    .news h3 {
        font-size:24px; 
        margin-top:20px
    }
    .news p {
        font-size:16px; 
        margin-top:10px
    }